<html>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action='/users' method="post">
            Your name: <input type="text" name="name" value={{session['name']}}>
            <br><br>
            Dojo location:
            <select name='location'>
                <option value="San Jose">San Jose</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Seattle">Seattle</option>
            </select>
            <br><br>
            Favorite language:
            <select name='favlang'>
                <option value="Python">Python</option>
                <option value="Javascript">Javascript</option>
                <option value="Ruby">Ruby</option>
            </select>
            <br><br>
            Comment: <textarea name='comment' rows="5" cols="50">{{session['comment']}}</textarea>
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>